# Logs
logs
*.log
npm-debug.log*

# Sistema
.DS_Store
.env
*.env
*.local

# node_modules de qualquer lugar
**/node_modules/

# build / dist
**/dist/
**/build/

# IDEs e configs locais
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cache do Vite
**/.vite

/generated/prisma
